.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.location-container {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}

.location-container .date {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}

.weather-container {
    text-align: center;
}

.weather-container .temperature {
    color: rgb(0, 0, 0);
    position: relative;
    display: inline-block;
    margin: 30px auto;
    padding: 15px 25px;
    font-size: 100px;
    font-weight: 700;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 6px 6px 4px rgba(58, 53, 53, 0.73);
    text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.weather-container .weather {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.glass {
    background: rgba( 255, 255, 255, 0.40);
    box-shadow: 0 8px 32px 0 rgba(255, 0, 0, 0.37);
    backdrop-filter: blur( 8.0px);
    -webkit-backdrop-filter: blur( 8.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}